/* Макет лежит здесь*/
/* https://www.figma.com/file/RQ3UoMk6OW5lBfmUJTeQK3 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
}

.page-container {
    background: #E5E5E5;
    
}

.blocks-container {
    width: 1600px;
    margin: 0 auto;
    background-color: #fff;
}
.top-line {
    /* Верхняя линия */
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    margin: auto;
    background-color:#fff;

}
/* Изображение. Надпись WebStudio */
.top-line  .logo_img{
    margin-top: 24px;
    margin-left: 215px;
    display: block;
    float: left;
}

/* Описание меню  верх */
.top-line-menu {
    display: block;
    float: left;
    margin-left: 93px;
    line-height: 48px;
    /* margin-top: 32px; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: blue;
  }


.top-info-email {
    font-family: Roboto;
    line-height: 76px;
    float: left;
    color: #2196F3;
    margin-left: 350px;
}

.top-info-phone {
    font-family: Roboto;
    line-height: 76px;
    float: left;
    color: #000;
    margin-left: 70px;
}


/* НАЧАЛО HEADER */
.header-under-line {
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    margin: auto;
    text-align: center;
    background: #2F303A;
}

.main-label {
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    color:#fff;
    /* margin-top: 200px; */
    padding-top: 200px;
}
button.order {
    width: 200px;
    height: 50px;

    color:#fff;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    margin-top: 40px;
    
}


.details {
    width: 1170px;
    height: 101px;
    /* left: 215px;
    top: 774px; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 94px;
    background-color: #fff;
    
}
.details-block-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
    width: 270px;

    
}
.details-block-text {
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #757575;
    width: 270px;
}

.what-we-doing-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 94px;;
    color: #212121;
}

.what-we-doing-pictures {
    display: flex;
    width: 1170px;
    margin: 0 auto; 
    margin-top: 50px;
    /* background-color: #eee; */
    justify-content: space-around;
}

.block-pictures {
    width: 370px;
    height: 294px;
    /* background-color: #ccdd; */
}

.our-team {
    width: 1600px;
    height: 648px;
    background: #F5F4FA;
    margin: 0 auto;
    margin-top: 94px;
}

.our-team-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 94px;;
    color: #212121;
}

.our-team-block-photos {
    display: flex;
    width: 1170px;
    height: 368px;
    justify-content:space-between;
    margin: 0 auto;
    margin-top: 50px;
}
.our-team-photo {
    
    width: 270px;
    height: 368px;

    background: #FFFFFF;
    /* material shadow v1 */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team-photo img {
    width: 270px;
    height: 260px;
    
    /* background-color: #fff; */
    
}


.block-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    margin: 30px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.block-position {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

.block-footer {
    width: 1600px;
    height: 252px;
    background: #2F303A;
    margin: 0 auto;

}

.footer-logo img {
    margin-top: 60px;
    margin-left: 215px;

}
.footer-adress {
    margin-top: 20px;
    margin-left: 215px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #FFFFFF;
}
.footer-email {
    margin-top: 9px;
    margin-left: 215px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);


}
.footer-phone {
    margin-top: 9px;
    margin-left: 215px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);

}

